@charset "utf-8";
/*Some style configurations*/
body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background: #D5D5D5;
    color: #6D7993;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    color: #9099A2;
    text-decoration: none;
}

img {
    width:100%;
}

nav {
    width: 100%;
}
nav ul { /*Header column line*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6D7993;
    text-align: center;
}
nav li { /*Header guide line*/
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 50px;
    height: 50px;
    border-bottom: 5px solid #9099A2;
}
nav a { /*pasatiempos,curso and sobre mí*/
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-transform: uppercase;
    padding: 5px;
    width: 180px;
}
nav a:hover, a:active { /*Selection in header*/
    background-color: #ffff;
}
#pageHeader {
    padding: 15px;
    width: 900px;
    margin: 1px auto;
}
header {
    height: 100px;
    padding: 15px;
    background-color: #c5aeba;
}
section {
    float: center;
    padding: 15px;
    margin: 0px;
    border: solid 2px #6D7993
}

#pageHeader {
    width: 865px;
}
footer {
    display: flex;
    justify-content: space-around;
    color: #6D7993;

}
/*General extra setting*/
@media screen and (max-width: 960px) {
    #myHobbie {
        width: 80%;
    }
    nav a {
        width: 80px;
    }
}
/*General extra setting*/
@media screen and (max-width: 600px) {
    header {
        height: 50px;
        padding: 0;
    }
    nav a {
        width: 100%;
        padding:0 2px;
        margin:2px;
    }
    nav li {
        font-size: 0.7em;
        line-height: 20px;
        height: 20px;
    }
    h1, h2 {
        font-size: 1em;
    }
    h3{
        color: #000;
    }
    .headingtext {
        display: none;
    }
    section {
        width: auto;
        float: none;
    }
}